.visualsearch-input-group-addon {
	background-color: transparent;
}

.visualsearch-input-group-addon .input-group-text {
    height: 100%;
}

@-webkit-keyframes fadeIn {
	0% {opacity: 0;}
	50% {opacity: 1;}
	100% {opacity: 0;}
}
@keyframes fadeIn {
	0% {opacity: 0;}
	50% {opacity: 1;}
	100% {opacity: 0;}
}
.fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}


.visual-search-loading-spinner {
	margin-top: 20px;
	margin-bottom: 20px;
	width: 200px;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-weight: bold;

	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;

	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	animation-iteration-count:infinite;
	-webkit-animation-iteration-count:infinite;
}

.search-icons {
	position: relative;
	top: 1px;
	display: inline-block;
	height: 0.9rem;
	width: 0.9rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	background-size: contain;
}

.search-icons.search-icons-delete {
	background-image: url("../Icons/material-design-icons/baseline-delete-24px.svg");
}

.search-icons.search-icons-remove {
	top: 3px;
	background-image: url("../Icons/material-design-icons/baseline-remove_circle_outline-24px.svg");
}

.search-icons.search-icons-send {
	background-image: url("../Icons/material-design-icons/baseline-send-24px.svg");
}

.search-icons.search-icons-hourglass {
	background-image: url("../Icons/material-design-icons/baseline-hourglass_empty-24px.svg");
}

.search-icons.search-icons-search {
	background-image: url("../Icons/material-design-icons/baseline-search-24px.svg");
}

.search-icons.search-icons-settings {
    background-image: url("../Icons/material-design-icons/baseline-settings-24px.svg");
}

span.label.label-default {
	margin-left: 10px;
}
