{namespace search=KayStrobach\VisualSearch\ViewHelpers}

<!-- TODO rename search search namespace to eliminate ambigious vraiable naming -->

<f:variable name="search" value="{searchName}"></f:variable>

<f:if condition="{search}">
    <f:then>
        <visual-search search="{search}"
                       facets-action="{f:uri.action(action: 'facets', controller: 'SearchRest', package: 'KayStrobach.VisualSearch')}"
                       value-action="{f:uri.action(action: 'values', controller: 'SearchRest', package: 'KayStrobach.VisualSearch')}"
                       query-action="{f:uri.action(action: 'query', controller: 'SearchLegacy', package: 'KayStrobach.VisualSearch')}"
                       debug="true"
                       session="true"
                       query="{search:query()}"
        ></visual-search>

        <div class="table-responsive" id="search-result-area">
            {value -> f:format.raw()}
        </div>
    </f:then>
</f:if>

<f:if condition="true">
    <script src="{f:uri.resource(path: 'Components/SearchFacet.js', package: 'KayStrobach.VisualSearch')}" type="module"></script>
    <script src="{f:uri.resource(path: 'Components/DebugLog.js', package: 'KayStrobach.VisualSearch')}" type="module"></script>
    <script src="{f:uri.resource(path: 'Components/VisualSearch.js', package: 'KayStrobach.VisualSearch')}" type="module"></script>
</f:if>
