{namespace search=KayStrobach\VisualSearch\ViewHelpers}

<f:if condition="{searchName}">
    <f:then>
        <visual-search
                search="{searchName}"
                facets-action="{f:uri.action(action: 'facets', controller: 'SearchRest', package: 'KayStrobach.VisualSearch')}"
                value-action="{f:uri.action(action: 'values', controller: 'SearchRest', package: 'KayStrobach.VisualSearch')}"
                query-action="{f:uri.action(action: 'query', controller: 'SearchLegacy', package: 'KayStrobach.VisualSearch')}"
                query="{search:query(name: searchName)}"
                sorting="{search:settings(name: searchName, key: 'sorting')}">
            <span slot="search-label">{f:translate(id:"button.search", package:"KayStrobach.VisualSearch")}</span>
            <span slot="sort-label">{f:translate(id:"button.sort", package:"KayStrobach.VisualSearch")}</span>
            <span slot="clear-label">{f:translate(id:"button.clear", package:"KayStrobach.VisualSearch")}</span>
        </visual-search>

        <div class="table-responsive" id="search-result-area">
            {value -> f:format.raw()}
        </div>
    </f:then>
</f:if>

<f:if condition="true">
    <script src="{f:uri.resource(path: 'visualsearch.min.js', package: 'KayStrobach.VisualSearch')}" type="module"></script>
</f:if>
